# Ignore node_modules directory
node_modules

# Ignore local environment files
.env

# Ignore logs
*.log

# Ignore build directories
dist
build

# Ignore Dockerfile itself
Dockerfile

# Ignore any temporary files or directories
tmp
temp
*.tmp

# Ignore editor or OS-specific files
*.swp
.DS_Store
Thumbs.db
